.collapsed {
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 500ms;
}
.notCollapsed {
  max-height: 200px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 500ms;
}
